body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding: 30px;
}

.pc-container {
  position: relative;
  display: inline-block;
}

.pc-image {
  width: 500px;
}

.hotspot {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0,0,0,0);
  cursor: pointer;
}

.hotspot:hover {
  border-color: red;
}

/* POSISI TITIK (SESUIKAN GAMBAR KAMU) */
.cpu {
  top: 110px;
  left: 210px;
}

.gpu {
  top: 260px;
  left: 200px;
}

.ram {
  top: 160px;
  left: 260px;
}

#info {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
