body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding: 30px;
}

/* MODEL 3D CENTER & BESAR */
.viewer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewer model-viewer {
  width: 80vw;        /* BESAR */
  max-width: 800px;  /* batas maksimal */
  height: 450px;
  background: white;
  border-radius: 12px;
}

/* TOMBOL DI BAWAH */
.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

/* INFO BOX */
#info {
  margin: 30px auto 0;
  width: 70%;
  background: white;
  padding: 20px;
  border-radius: 12px;
